################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/DesignTimeBuild/.dtbcache.v2
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/271b0eae-5dcf-4bc3-809a-07669c47251e.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/950c2e5d-d138-43c6-b2cf-8355e9fcbb64.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/bbf30588-13c3-46e7-b09e-833b1caa2acb.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/e3fe6887-7315-4b7e-8fd2-cd3be543c6c1.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/v14/.suo
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/v17/.suo
/portalinvestimento.virtualtilab.com/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.metadata.v7.bin
/portalinvestimento.virtualtilab.com/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.projects.v7.bin
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/v14/.suo
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/v17/.suo
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/DesignTimeBuild/.dtbcache.v2
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/247606e5-4add-497e-af82-468307a615e2.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/271b0eae-5dcf-4bc3-809a-07669c47251e.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/950c2e5d-d138-43c6-b2cf-8355e9fcbb64.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/bbf30588-13c3-46e7-b09e-833b1caa2acb.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/e3fe6887-7315-4b7e-8fd2-cd3be543c6c1.vsidx
*.suo
*.v2
/apibronco.bronco.com.br/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.metadata.v7.bin
/apibronco.bronco.com.br/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.projects.v7.bin
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/appsettings.Development.json
/apibronco.bronco.com.br/bin/Debug/net8.0/appsettings.json
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.OpenApi.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.deps.json
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.exe
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.pdb
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.runtimeconfig.json
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.xml
/apibronco.bronco.com.br/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/System.Data.SqlClient.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/45db9151-66b3-4f20-bcc9-a4142145b3c0.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/9b51c5e9-d45d-433b-b4f4-2d0ff0cc98ec.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/a89111b4-33f0-446c-9ed3-2c6812baf5a3.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/b94385e9-f376-403c-9db9-b4c2001f72cf.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/f96455d7-fff8-4f6e-80c8-2f3437f3498d.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/config
/apibronco.bronco.com.br/bin/Debug/net8.0
/apibronco.bronco.com.br/obj/Debug/net8.0
/apibronco.bronco.com.br/obj
/apibronco.bronco.com.br/Properties
