################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/DesignTimeBuild/.dtbcache.v2
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/271b0eae-5dcf-4bc3-809a-07669c47251e.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/950c2e5d-d138-43c6-b2cf-8355e9fcbb64.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/bbf30588-13c3-46e7-b09e-833b1caa2acb.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/e3fe6887-7315-4b7e-8fd2-cd3be543c6c1.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/v14/.suo
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/v17/.suo
/portalinvestimento.virtualtilab.com/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.metadata.v7.bin
/portalinvestimento.virtualtilab.com/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.projects.v7.bin
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/v14/.suo
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/v17/.suo
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/DesignTimeBuild/.dtbcache.v2
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/247606e5-4add-497e-af82-468307a615e2.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/271b0eae-5dcf-4bc3-809a-07669c47251e.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/950c2e5d-d138-43c6-b2cf-8355e9fcbb64.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/bbf30588-13c3-46e7-b09e-833b1caa2acb.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/e3fe6887-7315-4b7e-8fd2-cd3be543c6c1.vsidx
*.suo
*.v2
/apibronco.bronco.com.br/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.metadata.v7.bin
/apibronco.bronco.com.br/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.projects.v7.bin
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/appsettings.Development.json
/apibronco.bronco.com.br/bin/Debug/net8.0/appsettings.json
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Microsoft.OpenApi.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.deps.json
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.exe
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.pdb
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.runtimeconfig.json
/apibronco.bronco.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.xml
/apibronco.bronco.com.br/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/System.Data.SqlClient.dll
/apibronco.bronco.com.br/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/45db9151-66b3-4f20-bcc9-a4142145b3c0.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/9b51c5e9-d45d-433b-b4f4-2d0ff0cc98ec.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/a89111b4-33f0-446c-9ed3-2c6812baf5a3.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/b94385e9-f376-403c-9db9-b4c2001f72cf.vsidx
/apibronco.bronco.com.br/.vs/apibronco.bronco.com.br/FileContentIndex/f96455d7-fff8-4f6e-80c8-2f3437f3498d.vsidx
/apibronco.bronco.com.br/.vs/portalinvestimento.virtualtilab.com/config
/apibronco.bronco.com.br/bin/Debug/net8.0
/apibronco.bronco.com.br/obj/Debug/net8.0
/apibronco.bronco.com.br/obj
/apibronco.bronco.com.br/Properties
/.vs/portalinvestimento.postechfiap.com/config/applicationhost.config
/.vs/portalinvestimento.postechfiap.com/FileContentIndex/0c48da03-baf0-452c-8d9c-845221bfd033.vsidx
/.vs/portalinvestimento.postechfiap.com/FileContentIndex/735f7917-b6da-415e-88b0-5f6de6f6b600.vsidx
/.vs/portalinvestimento.postechfiap.com/FileContentIndex/d2c06be3-7195-4e60-ac01-674547e7f776.vsidx
/.vs/portalinvestimento.postechfiap.com/FileContentIndex/e12faa0d-dfca-4343-8549-7ea3701b4b15.vsidx
/.vs/portalinvestimento.postechfiap.com/FileContentIndex/f34ba0f1-e50b-45dc-a810-231afdc2c2a4.vsidx
/.vs/portalinvestimento.postechfiap.com/v17/TestStore/0/048.testlog
/.vs/portalinvestimento.postechfiap.com/v17/TestStore/0/testlog.manifest
/.vs/portalinvestimento.virtualtilab.com/FileContentIndex
/.vs/portalinvestimento.virtualtilab.com/v17/TestStore/0
/.vs/ProjectEvaluation
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/apphost.exe
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.AssemblyInfo.cs
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.AssemblyInfoInputs.cache
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.assets.cache
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.csproj.AssemblyReference.cache
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.GeneratedMSBuildEditorConfig.editorconfig
/portalinvestimento.virtualtilab.com/obj/portalinvestimento.virtualtilab.com.csproj.nuget.dgspec.json
/portalinvestimento.virtualtilab.com/obj/portalinvestimento.virtualtilab.com.csproj.nuget.g.props
/portalinvestimento.virtualtilab.com/obj/project.assets.json
/portalinvestimento.virtualtilab.com/obj/project.nuget.cache
/.vs/GIT/v17
/.vs/portalinvestimento.postechfiap.com/FileContentIndex/c7ef48fe-779c-4179-a7ce-415bee5bfbac.vsidx
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.AssemblyInfo.cs
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.AssemblyInfoInputs.cache
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.assets.cache
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.csproj.AssemblyReference.cache
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.GeneratedMSBuildEditorConfig.editorconfig
/xunit.portalinvestimento.fiap.com.br/obj/project.assets.json
/xunit.portalinvestimento.fiap.com.br/obj/project.nuget.cache
/xunit.portalinvestimento.fiap.com.br/obj/xunit.portalinvestimento.fiap.com.br.csproj.nuget.dgspec.json
/xunit.portalinvestimento.fiap.com.br/obj/xunit.portalinvestimento.fiap.com.br.csproj.nuget.g.props
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/CoverletSourceRootsMapping_xunit.portalinvestimento.fiap.com.br
/.vs/portalinvestimento.postechfiap.com/FileContentIndex
/portalinvestimento.virtualtilab.com/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.dll
/portalinvestimento.virtualtilab.com/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.exe
/portalinvestimento.virtualtilab.com/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.pdb
/portalinvestimento.virtualtilab.com/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.xml
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/refint/portalinvestimento.virtualtilab.com.dll
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/ref/portalinvestimento.virtualtilab.com.dll
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.csproj.CoreCompileInputs.cache
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.csproj.FileListAbsolute.txt
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.dll
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.genruntimeconfig.cache
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.MvcApplicationPartsAssemblyInfo.cs
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.pdb
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.sourcelink.json
/portalinvestimento.virtualtilab.com/obj/Debug/net8.0/portalinvestimento.virtualtilab.com.xml
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.dll
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.exe
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.pdb
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/portalinvestimento.virtualtilab.com.xml
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.deps.json
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.dll
/xunit.portalinvestimento.fiap.com.br/bin/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.pdb
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.csproj.CoreCompileInputs.cache
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.csproj.FileListAbsolute.txt
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.dll
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.genruntimeconfig.cache
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.pdb
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/xunit.portalinvestimento.fiap.com.br.sourcelink.json
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/ref/xunit.portalinvestimento.fiap.com.br.dll
/xunit.portalinvestimento.fiap.com.br/obj/Debug/net8.0/refint/xunit.portalinvestimento.fiap.com.br.dll
