################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/DesignTimeBuild/.dtbcache.v2
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/271b0eae-5dcf-4bc3-809a-07669c47251e.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/950c2e5d-d138-43c6-b2cf-8355e9fcbb64.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/bbf30588-13c3-46e7-b09e-833b1caa2acb.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/FileContentIndex/e3fe6887-7315-4b7e-8fd2-cd3be543c6c1.vsidx
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/v14/.suo
/portalinvestimento.virtualtilab.com/.vs/portalinvestimento.virtualtilab.com/v17/.suo
/portalinvestimento.virtualtilab.com/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.metadata.v7.bin
/portalinvestimento.virtualtilab.com/.vs/ProjectEvaluation/portalinvestimento.virtualtilab.com.projects.v7.bin
